<% @user.following.each do |following| %>
    <p>
    <%= following.id %>
    <%= following.name %>
    <% if current_user.following?(following) and current_user != following %>
        <%= link_to "Show this user", user_path(following) %>
    <% end %>
    </p>
<% end %>
<p>
    <%= link_to "Back to Users", users_path %>
</p>