.user-page-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}

.users-profile-wrapper {
    flex: 1;
}

.users-posts-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    column-count: 2;
}