.users-profile-inner {
    border-radius: 5px;
    border: 1px solid gray;
    padding: 1rem;
    margin: 2rem;
    margin-left: 3rem;

    display: flex;
    flex-direction: column;

}

.user-profile-image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.users-profile-button {
    text-align: center;
    justify-content: center;
}