<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag 'common/users/show', media: 'all' %>

<div class="user-page-inner">
  <div class="users-profile-wrapper">
    <%= render @user %>
  </div>

  <div class="users-posts-wrapper">
    <% if @microposts.empty? %>
      <p>No data</p>
    <% else %>
      <% @microposts.each do |micropost| %>
        <%= render micropost %>
      <% end%>
    <% end %>
  </div>
</div>
