<%= stylesheet_link_tag 'common/microposts/micropost', media: 'all' %>

<div class="microposts-writer-inner">
    <div class="microposts-writer-name">
        <p>
            <strong>Content:</strong>
            <%= micropost.content %>
        </p>
    </div>

    <div class="microposts-content">
        <p>
            <strong>user_id:</strong>
            <%= micropost.user_id %>
        </p>
    </div>

</div>