<%= stylesheet_link_tag 'common/microposts/micropost', media: 'all' %>

<div class="microposts-writer-inner">
    <div class="micropost-image">
        <%= image_tag micropost.get_mp_image, :size => '200x100' %>
    </div>

    <div class="microposts-writer-name">
        <p class="micropost-content">
            <%= micropost.content %>
        </p>
    </div>

    <div class="microposts-content">
        <p class="micropost-writer">
            <%= user_id_to_name(micropost.user_id) %>
        </p>
    </div>

</div>