/*
 * require_tree .
 *= require_self
 */

.link {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

.mybutton {
    color: black;
    width: 70%;
    margin: 5px;
    padding: 2px;
    text-align: center;
}