<h1>Microposts</h1>

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <%= render 'shared/micropost', micropost: micropost %>
    <p>
      <%= link_to "Show this user", user_path(micropost.user_id) %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>