<div class="stats link">
  <a href="<%= following_user_path(@user) %>" class="link">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>

  <a href="<%= followers_user_path(@user) %>" class="link">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
  
</div>