.microposts-writer-inner {
    display: flex;
    flex-direction: row;

    padding: 1rem;

    margin: 1rem;

    width: 550px;
}

.micropost-info {
    display: flex;
    flex: 1;
    flex-direction: column;
}


.micropost-content {
    height: calc(18 * 3) px; /* 3行分の高さに合わせる例 */

    font-weight: bold;
    font-size: 18px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.micropost-writer {
    font-size: 14px;
    color: rgb(166, 162, 162);
}

.link {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}